body {
	font-family: "courier"; 
}

input {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: solid 1px;
}

input:focus {
	outline: none;
}

td {
	padding: 10px;
}

/*.taskNameField {
	width:300px;
}*/