body {
	font-family: "courier"; 
}

textarea {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	overflow: break-word;
}

textarea:focus {
	outline: none;
}

td {
	padding: 10px;
}

.taskNameField {
	width:auto;
}